section{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    /* grid-template-columns: repeat(auto-fill, minmax(25%, auto));
    grid-template-columns: repeat(auto-fit, minmax(25%, auto)); */
    grid-template-rows: repeat(3, minmax(100px, auto));

    /* row-gap: 50px;
    column-gap: 100px; */
    grid-gap: 50px 100px; /* ie issue */
    gap: 50px 100px;

	grid-auto-rows: minmax(300px, auto); /* grid-template-rows 없을때 작동 */

    /* grid-template-areas:
		"article1 article2 article3"
		"article4 article5 article6" */
}

article{
    border: 1px solid black;
}

article:first-child{
    /* 1번 라인에서 2칸 */
	/* grid-column: 1 / span 2; */
	/* 1번 라인에서 3칸 */
	/* grid-row: 1 / span 3; */
    /* grid-area: article1; */
}

article:nth-child(2){
    /* grid-area: article2; */
}

article:nth-child(3){
    /* grid-area: article3; */
}

article:nth-child(4){
    /* grid-area: article4; */
}

article:nth-child(5){
    /* grid-area: article5; */
}

article:nth-child(6){
    /* grid-area: article6; */
}

@media (min-width: 768px) {
    section{
        grid-template-columns: repeat(2, 300px);
    }
    article{
        width: 300px;
    }
}
